<h1>Listing users</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Provider</th>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.provider %></td>
    <td><%= link_to user.name, user_path(user) %></td>
  </tr>
<% end %>
</table>
