<div class="box large"><div class="kanji">字</div></div>
<div class="options clearfix">
  <div class="box">eye, class, look, insight, experience, care, favour</div>
  <div class="box correct">character, letter, word, section of village</div>
  <div class="box">red</div>
  <div class="box incorrect">round, full, month, perfection, -ship, pills, make round, roll up, curl up, seduce, explain away</div>
</div>
