<table>
  <tr>
    <th>Kanji</th>
    <th>Revisions</th>
    <th>Last seen</th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.kanji.literal %></td>
    <td><%= card.revisions %></td>
    <td><%= card.updated_at %></td>
  </tr>
<% end %>
</table>
