<h1>Update cards</h1>
<%= if @var then simple_format @var.to_yaml end %>
<% if !@cards.empty? then %>
<h2>Returned cards</h2>
<%= render 'table' %>
<% end %>


<%= render 'form' %>

<%= link_to 'All cards', cards_path %>
