<div class="row-fluid">
  <div class="offset4 span4">

<form id="signin">
  <fieldset>
    <legend>Sign in</legend>
    <input id="auth_key" name="auth_key" type="text" placeholder="Email" /><br />
    <input id="password" name="password" type="password" placeholder="Password" /><br />
    <button type="submit" class="btn">Login</button>
  </fieldset>
</form>

<form id="register">
    <fieldset>
    <legend>Create account</legend>
    <input id="name" name="name" type="text" placeholder="Name" /><br />
    <input id="email" name="email" type="text" placeholder="Email" /><br />
    <input id="password" name="password" type="password" placeholder="Password" /><br />
    <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Password confirmation" /><br />
    <button type="submit" class="btn">Register</button>
  </fieldset>
</form>

<p><a href="#">Back</a></p>

  </div>
</div>